.image {
  height: 550px;
  width: 100%;
  border-radius: 8px;
  background: no-repeat center/cover;

  &_1 {
    background-image: url("../../../assets/images/cataloge/cake-pops/cake-pops-1.jpg");
  }
  &_2 {
    background-image: url("../../../assets/images/cataloge/cake-pops/cake-pops-2.jpg");
  }
}
