@import "../../assets/styles/utils/mixins.scss";

.cataloge {

  &__header {
    padding: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    color: #90e0ef;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-bottom: 150px;

    @include onTablet {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &__item {
    width: 100%;

    @include onTablet {
      max-width: 50%;
    }

    @include onDesktop {
      max-width: 33%;
    }

    &__name {
      padding: 8px;
      font-size: 25px;
      font-weight: 700;
      color: #1b263b;
    }

    &__photo {
      background: center / cover no-repeat;
      border-radius: 25px;
      min-height: 350px;
      margin-bottom: 8px;

      @include onDesktop {
        height: 550px;
      }

      &-mousse {
        background-image: url(../../assets/images/cataloge/cataloge-mousse.jpeg);
      }

      &-biskvit {
        background-image: url(../../assets/images/homepage-background.jpeg);
      }

      &-macarons {
        background-image: url(../../assets/images/cataloge/cataloge-macarons.jpg);
      }

      &-eskimo {
        background-image: url(../../assets/images/cataloge/cataloge-eskimo.jpg);
      }

      &-sets {
        background-image: url(../../assets/images/cataloge/gift_sets.jpg);
      }

      &-pops {
        background-image: url(../../assets/images/cataloge/cake-pops.jpeg);
      }
    }
  }

  &__button {
    margin: 0 auto;

    cursor: pointer;
    color: #fff;
    width: 50%;
    padding: 8px;
    text-align: center;
    background-color: #00b4d8;
    border: 1px solid #00b4d8;
    border-radius: 32px;
    transition: 0.5s ease-in;

    &:hover {
      color: #00b4d8;
      background-color: #fff;
      border: 1px solid #00b4d8;
    }
  }
}
