@import "../../assets/styles/utils/mixins.scss";

.swiper {
  width: 100%;

  &_slide {
    display: flex;
    justify-content: center;
  }
}

.image {
  height: 550px;
  width: max-content;
  object-fit: contain;
}
