@import "../../assets/styles/utils/mixins.scss";

.swiper {
  width: 100%;

  &_slide {
    display: flex;
    justify-content: center;
  }
}

.image {
  height: 550px;
  width: max-content;
  object-fit: contain;


  &_2 {
    background-image: url("../../assets/images/reviews/rev-2.jpg");
  }
  &_2_1 {
    background-image: url("../../assets/images/reviews/rev-2.1.jpg");
  }
  &_3 {
    background-image: url("../../assets/images/reviews/rev-3.jpg");
  }
  &_3_1 {
    background-image: url("../../assets/images/reviews/rev-3.1.jpg");
  }
  &_4 {
    background-image: url("../../assets/images/reviews/rev-4.jpg");
  }
  &_5 {
    background-image: url("../../assets/images/reviews/rev-5.jpg");
  }
}
